div{
    background-color: darkolivegreen;
    border: 10px solid lightgreen;
    background-size: 10px;
    border-radius: 10px;
    padding: 2% 4%;
    margin: 60px 40px;
    box-shadow: 10px 10px 5px cadetblue;
}
h1{
    font-style: italic;
    text-align: center;
    color: darkred;
    margin-bottom: 10px blue;
    text-decoration: underline 2px blue ;
}
#second{
    background-color: rgb(226, 243, 199);
    border: 10px solid rgb(6, 134, 6);
    background-size: 10px;
    border-radius: 10px;
    padding: 2% 4%;
    margin: 30px 40px;
    box-shadow: 10px 10px 5px cadetblue;
}
h3{
    font-style: italic;
    text-align: center;
    color: rgb(213, 111, 111);
    margin-bottom: 10px rgb(8, 8, 71);
    text-decoration: underline 2px rgb(44, 40, 40) ;
}
.cat{
    font-style: normal;
    text-align: left;
    color: rgb(253, 3, 3);
    text-decoration: underline 2px rgb(84, 84, 84) ;
}
